@font-face{
    font-family: "Arcon-Regular";
    src: url('../fonts/Arcon-Regular.otf'),
    url('../fonts/Arcon-Regular.otf'); /* IE */
}

body, html {
	font-family: Arcon-Regular;
	color: gray;
	width: 70%;
	margin-left:auto;
	margin-right:auto;
	background-color:#1f1f1f;
	text-align: center;
}

img {
	width: 50%;
	min-width: 500px;
}

.logEntry p{
	text-align: left !important;
}

.logEntry img{
	width: 60%;
	padding: 20px;
}