@font-face{
    font-family: "Arcon-Regular";
    src: url('../fonts/Arcon-Regular.otf'),
    url('../fonts/Arcon-Regular.otf'); /* IE */
}

body, html {
	font-family: Arcon-Regular;
	color: white;
	width: 100%;
	padding: 0;
	margin: 0;
	background-color:#1f1f1f;
	text-align: center;
}

img {
	width: 50%;
	min-width: 600px;
}